@font-face {
    font-family: 'aileronlight';
    src: url('fonts/Aileron-Light-webfont.eot');
    src: url('fonts/Aileron-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aileron-Light-webfont.woff2') format('woff2'),
         url('fonts/Aileron-Light-webfont.woff') format('woff'),
         url('fonts/Aileron-Light-webfont.ttf') format('truetype'),
         url('fonts/Aileron-Light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: rgba(0, 0, 0, 0.87);
}

a:visited {
    color: #a7a7a7;
}

.back-button {
    background: #c3c3c3;
    color: black;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

/* Table Styles */

.table-wrapper {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 2em;
}

table {
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-spacing: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.table-title {
    font-size: 1.5em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}

.table-header-colums {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    z-index: 5;
    background: #fff;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

th {
    font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
    .table-header-colums {
      top: 75px;
    }
    .table-header {
        display: block;
    }
  }

@media only screen and (max-width: 330px) {
    .table-header-colums {
      top: 102px;
    }
  }